# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtualenvs
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
*.egg-info/
.eggs/
*.egg

# Logs
*.log

# Alembic versions (generadas automáticamente)
alembic/versions/*.py

# Local environments
.env.local
.env.host
.env.dev
.env.prod
.env.staging

# Tests cache
.pytest_cache/
.coverage
htmlcov/

# Git / IDE
.git
.gitignore
.vscode/
.idea/

# Docker
docker/mysql-init.sql
